@import "reset.css";

/* @import url("https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700|PT+Sans:400,400i,700,700i&amp;subset=cyrillic"); */

@import "layout.css";

@font-face {
  font-family: "Marlene";

  src: url("../fonts/woff2/Marlene-Medium.woff2") format("woff2"),
    url("../fonts/woff/Marlene-Medium.woff") format("woff"),
    url("../fonts/ttf/Marlene-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}
